#include "notepad.h"

NOTEPAD_IDI_MAINICON ICON "res/bille.ico"

NOTEPAD_IDR_ACCEL ACCELERATORS MOVEABLE PURE
BEGIN
"N",	NOTEPAD_IDM_NEW,		VIRTKEY, CONTROL
"O",	NOTEPAD_IDM_OPEN,		VIRTKEY, CONTROL
"S",	NOTEPAD_IDM_SAVE,		VIRTKEY, CONTROL
"S",	NOTEPAD_IDM_SAVEAS,		VIRTKEY, CONTROL, SHIFT
"A",	NOTEPAD_IDM_SELECTALL,		VIRTKEY, CONTROL
"Q",	NOTEPAD_IDM_QUIT,		VIRTKEY, CONTROL
VK_F12,		NOTEPAD_IDM_SEND,	VIRTKEY
VK_F12,		NOTEPAD_IDM_SEND_ALL,	VIRTKEY, SHIFT
VK_RETURN,	NOTEPAD_IDM_SEND,	VIRTKEY, CONTROL
VK_F11,		NOTEPAD_IDM_RESIZE_ALL, VIRTKEY, SHIFT
VK_F11,		NOTEPAD_IDM_CASCADE_ALL, VIRTKEY, CONTROL
"V",	NOTEPAD_IDM_PASTE,		VIRTKEY, CONTROL
END

STRINGTABLE DISCARDABLE
BEGIN
	NOTEPAD_STR_FILE	"文件(&F)"
	NOTEPAD_STR_NEW		"新建(&N)\tCtrl+N"
	NOTEPAD_STR_OPEN 	"打开(&O)...\tCtrl+O"
	NOTEPAD_STR_SAVE 	"保存(&S)\tCtrl+S"
	NOTEPAD_STR_SAVEAS 	"另存为(&A)...\tCtrl+Shift+S"
	NOTEPAD_STR_QUIT 	"退出(&Q)\tCtrl+Q"

	NOTEPAD_STR_EDIT	"编辑(&E)"
	NOTEPAD_STR_CUT		"剪切(&C)\tCtrl+X"
	NOTEPAD_STR_COPY	"复制(&O)\tCtrl+C"
	NOTEPAD_STR_PASTE	"粘贴(&P)\tCtrl+V"
	NOTEPAD_STR_SELECTALL	"选择所有(&S)\tCtrl+A"
	NOTEPAD_STR_UNDO	"取消(&U)\tCtrl+Z"
	NOTEPAD_STR_SETFONT	"字体(&F)"

	NOTEPAD_STR_SEND	"发送-F12(&S)"
	NOTEPAD_STR_SEND_ALL	"全部发送"

	NOTEPAD_STR_DELIM	"分隔符(&D)"
	NOTEPAD_STR_CRLF	"回车换行(&C)"
	NOTEPAD_STR_SCOLON	"分号(&S)"
	NOTEPAD_STR_SLASH	"斜线(&L)"
	NOTEPAD_STR_TILDE	"波浪线(&T)"

	NOTEPAD_STR_HELP	"&?"
	NOTEPAD_STR_ABOUT	"关于(&A)"

	NOTEPAD_FILE_FILTER	"文本文件, (*.txt, *.ini)|*.txt;*.ini|C/C++文件, (*.c, *.cpp, *.h, *.rc)|*.c;*.cpp;*.h;*.rc|脚本文件, (*.ksh, *.sh)|*.ksh;*.sh\0SQL文件, (*.sql)|*.sql|所有文件, (*.*)|*.*\0"

	NOTEPAD_STR_LICENCE "mNotepad 1.0\n\n由Cyd编写, 2022, 用于Telnet/SSH客户端TTY."
END
